.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 35px;
    display: inline;
    border-radius: 50px;
}

.dropdown a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .wid {
        width: 37%;
        margin-right: 0.3em;
    }
}

@media (max-width: 329px) {
    .wid {
        width: 35%;
        margin-right: 0.3em;
    }
}

@media (max-width: 283px) {
    .wid {
        width: 34%;
        margin-right: 0.3em;
    }
}